.chatLayout {
  border-left: 1px solid var(--background);
  overflow-y: auto;
  width: 100%;
  max-width: 100%;
}

.messagesLayout {
  padding: 16px 24px;
  background-color: var(--shape);
  overflow: auto;
  min-height: 85vh;
}

.listItem {
  border-bottom: none !important;
}

.messageRight {
  width: var(--body-height);
  height: var(--body-height);
}

.messageLeft {
  width: var(--body-height);
  height: var(--body-height);
}

.avatar {
  background-color: var(--blue-light) !important;
  color: var(--blue) !important;
}

.messageBubbleYou {
  margin: 0;
  background-color: var(--background);
  padding: 10px;
  border-radius: 10px;
}

.messageBubbleOther {
  margin: 0;
  background-color: var(--background);
  padding: 10px;
  border-radius: 10px;
}

.inputBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  padding: 16px 24px;
  background: var(--shape);
}
