:root {
  --background: #f0f2f5;
  --shape: #ffffff;
  --red: #e52e4d;
  --green: #33cc95;
  --blue: #5429cc;
  --blue-light: #6933ff;
  --text-title: #121f24;
  --text-body: #4e4e4e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ant-checkbox-checked .ant-checkbox-inner  {
  background-color: var(--text-title); /* фон внутри */
  border-color: var(--text-title);     /* бордер */
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border-color: var(--text-title) !important;     /* бордер */
  background-color: var(--text-title) !important;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #fff; /* цвет самой галочки */
}

