@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 900px) {
    @content;
  }
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  background: var(--background);

  @include mobile {
    flex-direction: column;
    height: auto;

    padding: 0;
  }
}

.chats {
  width: 350px;
  background: var(--shape);
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 24px;
  display: flex;
  flex-direction: column;
  overflow-y: none;

  @include tablet {
    width: 280px;
    padding: 16px;
  }

  @include mobile {
    width: auto;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 8px;
  }
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    flex-direction: row;
    padding-bottom: 8px;
  }
}

.search {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;

  @include mobile {
    margin-bottom: 8px;
    gap: 4px;
  }
}

.section {
  flex: 1;
  overflow-y: auto;

  @include mobile {
  }
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  @include mobile {
    margin-bottom: 4px;
  }
}

.chatItem {
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 8px;

  &:hover {
    background: var(--blue-light);
  }

  @include mobile {
    font-size: 14px;
    padding: 8px 4px;
  }
}

.active {
  background: var(--blue-light) !important;
}

.addIcon {
  font-size: 20px;
  cursor: pointer;

  @include mobile {
    font-size: 18px;
  }
}

.collapseButton {
  font-size: 18px;

  @include mobile {
    font-size: 16px;
  }
}

.folderLabel {
  font-size: 12px;
  color: var(--text-body);
  background-color: var(--background);
  border-radius: 12px;
  padding: 2px 12px;
}
